<nav>
    <div class="nav-wrapper">
        <div class="container">

            <a href="/" class="brand-logo">Nodestore</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/products">Produtos</a></li>
                <li><a href="/admin/categories">Categorias</a></li>
            </ul>
        </div>

    </div>
</nav>